.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row .column {
  float: left;
  position: relative;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  left: auto;
  right: auto;
  min-width: 40px;
}

.row .column.s1 {
  width: 8.3333333333%;
}

.row .column.s2 {
  width: 16.6666666667%;
}

.row .column.s3 {
  width: 25%;
}

.row .column.s4 {
  width: 33.3333333333%;
}

.row .column.s5 {
  width: 41.6666666667%;
}

.row .column.s6 {
  width: 50%;
}

.row .column.s7 {
  width: 58.3333333333%;
}

.row .column.s8 {
  width: 66.6666666667%;
}

.row .column.s9 {
  width: 75%;
}

.row .column.s10 {
  width: 83.3333333333%;
}

.row .column.s11 {
  width: 91.6666666667%;
}

.row .column.s12 {
  width: 100%;
}

p {
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media (min-width: 1200px) {
  .row .column {
    min-width: 60px;
  }
}

@media (min-width: 992px) {
  .row .column {
    min-width: 60px;
  }
}

@media (min-width: 748px) {
  .row .column {
    min-width: 60px;
  }
}
@media (min-width: 576px) {
  .row .column {
    min-width: 50px;
  }
}
